server {
    charset utf-8;
    listen {{ listen_http }} default_server;
    server_name _;
    location /nginx_status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        allow {{ ansible_eth1.ipv4.network }}/24;
        deny all;
    }
}